TZ=Asia/Shanghai
SPRING_PROFILES_ACTIVE=prod
BACKEND_PORT=9090
FRONTEND_PORT=80

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=123456

POSTGRES_EXPOSE_PORT=15432
REDIS_PORT=6379
RUSTFS_API_PORT=9000
RUSTFS_CONSOLE_PORT=9001
EASYOCR_PORT=8000

SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/postgres
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=123456

RUSTFS_ACCESS_KEY=rustfsadmin
RUSTFS_SECRET_KEY=rustfsadmin

MINIO_ENDPOINT=http://rustfs:9000
MINIO_ACCESS_KEY=rustfsadmin
MINIO_SECRET_KEY=rustfsadmin

JWT_SECRET=

VITE_API_BASE_URL=http://localhost:9090
