HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/logs/
/data/
/data/milvus/
/front/src-tauri/

### RustFS ###
rustfs/data/
/mindmap/static/
/.shared/ui-ux-pro-max/data/charts.csv
/.shared/ui-ux-pro-max/data/colors.csv
/.shared/ui-ux-pro-max/scripts/core.py
/.shared/ui-ux-pro-max/data/stacks/flutter.csv
/.shared/ui-ux-pro-max/data/stacks/html-tailwind.csv
/.shared/ui-ux-pro-max/data/landing.csv
/.shared/ui-ux-pro-max/data/stacks/nextjs.csv
/.shared/ui-ux-pro-max/data/stacks/nuxt-ui.csv
/.shared/ui-ux-pro-max/data/stacks/nuxtjs.csv
/.shared/ui-ux-pro-max/data/products.csv
/.shared/ui-ux-pro-max/data/prompts.csv
/.shared/ui-ux-pro-max/data/stacks/react.csv
/.shared/ui-ux-pro-max/data/stacks/react-native.csv
/.shared/ui-ux-pro-max/scripts/search.py
/.shared/ui-ux-pro-max/data/styles.csv
/.shared/ui-ux-pro-max/data/stacks/svelte.csv
/.shared/ui-ux-pro-max/data/stacks/swiftui.csv
/.shared/ui-ux-pro-max/data/typography.csv
/.cursor/commands/ui-ux-pro-max.md
/.shared/ui-ux-pro-max/data/ux-guidelines.csv
/.shared/ui-ux-pro-max/data/stacks/vue.csv
.env
